/build/
/dist/
nbproject/project.properties
src/Controlador/Persistencia/PruebaGenerarTablas.java
src/Controlador/Persistencia/PruebaGenerarTablas.java
src/hibernate.cfg.xml
src/hibernate.cfg.xml
nbproject/private/private.xml
src/hibernate.cfg.xml
